table,th,td{
    border :2px solid black;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
}
tr:nth-child(even) {
    background: #3c859f;
}
tr:nth-child(odd) {
    background-color: #aed91f;
}
body{
    background: -webkit-linear-gradient(-8deg, rgb(156, 106, 216),rgb(185, 43, 155));
}
